{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/main.css'%}">
</head>
<body>
<div class="container">
<h2> Tootie's Calculator</h2>
    <br> <h3>Do some calculations!</h3>
    </p><form action="" method="post"><p>
    {% csrf_token %}
    {{ form }}
    <div class="btn-group">
  <ul class="dropdown-menu">
    <li>"#">Action</li>
    <li><"#"</li>
    <li>"#"</li>
    <li role="separator" class="divider"></li>
    <li>"#">Separated link</li>
  </ul>
<br>    <input type="submit" value="Submit">
    <h3> Your result:</h3>
    <p> {{ first}} {{operator_choice}} {{ second}} = {{ result }}

</div>
</form>

</body>
</html>